<app-navbar [user]="user" [appTitle]="title" [urlLogo]="urlLogo"></app-navbar>
<div class="container-fluid border">
  <h2>Angular Storybook - Bootstrap</h2>
  <app-card [type]="'primary'" [color]="'white'" [header]="'Card component'" [title]="'Titre du contenu de la carte'"
    (btnClicked)="clickBtn($event)"
    [content]="'With supporting text below as a natural lead-in to additional content.'"></app-card>

  <hr>

  <div class="p-2">
    <span class="mr-2">
      <app-button [color]="'primary'" [icon]="'check'" [label]="'Bouton'" (btnClicked)="clickBtn($event)"></app-button>
    </span>
    <span class="mr-2">
      <app-button [color]="'secondary'" [icon]="'search'" [label]="'Autre'" (btnClicked)="clickBtn($event)">
      </app-button>
    </span>
    <span class="mr-2">
      <app-button [color]="'warning'" [size]="'sm'" [label]="'Petit bouton'" (btnClicked)="clickBtn($event)">
      </app-button>
    </span>
  </div>

  <hr>

  <app-modal-prompt></app-modal-prompt>

  <hr>

  <app-navbar-ug [infoConnection]="infoConnection" [user]="user" [appTitle]="titleReglement" [urlLogo]="urlLogo">
  </app-navbar-ug>

</div>
