<div class="container-fluid">
  <h2>Angular Storybook - Bootstrap</h2>
  <app-card [type]="'primary'" [color]="'white'" [header]="'Card component'" [title]="'Titre du contenu de la carte'"
    (btnClicked)="clickBtn($event)"
    [content]="'With supporting text below as a natural lead-in to additional content.'"></app-card>

  <div class="p-2">
    <span class="mr-2">
      <app-button [color]="'primary'" [icon]="'check'" [label]="'Bouton'" (btnClicked)="clickBtn($event)"></app-button>
    </span>
    <span class="mr-2">
      <app-button [color]="'secondary'" [icon]="'search'" [label]="'Autre'" (btnClicked)="clickBtn($event)">
      </app-button>
    </span>
    <span class="mr-2">
      <app-button [color]="'warning'" [size]="'sm'" [label]="'Petit bouton'" (btnClicked)="clickBtn($event)">
      </app-button>
    </span>
  </div>

</div>
