$theme-colors: (
  primary: #005ea8,
  success: #8bc34a,
  info: #01afec,
  warning: #ee7330,
  danger: #f40006,
) !default;

$table-dark-bg: map-get($theme-colors, 'primary') !default;
$table-dark-border-color: darken($table-dark-bg, 5);
