<div class="card">
  <ng-container *ngIf="countries.length > 0; else loadingCountries">
    <form [formGroup]="formCountries">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">
              <app-sortable-column columnName="name" (clickSort)="sortTable($event)">Country</app-sortable-column>
            </th>
            <th scope="col">
              <app-sortable-column columnName="area" (clickSort)="sortTable($event)">Area</app-sortable-column>
            </th>
            <th scope="col">
              <app-sortable-column columnName="population" (clickSort)="sortTable($event)">Population
              </app-sortable-column>
            </th>
            <th>Action</th>
          </tr>
          <tr>
            <th><input class="form-control form-control-sm" type="text" name="name" formControlName="name"></th>
            <th><input class="form-control form-control-sm" type="text" name="area" formControlName="area"></th>
            <th>
              <input class="form-control form-control-sm" type="text" name="population" formControlName="population">
            </th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries
          | filtre:false:false:filtres
          | orderBy: order:reverse
          | slice:start:end; index as i">
            <td>{{country.name}}</td>
            <td>{{country.area}}</td>
            <td>{{country.population}}</td>
            <td>
              <button class="btn btn-sm">
                <fa-icon (click)="valid(country.id)" class="text-primary" icon="search"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="card-footer">
        <div class="row">
          <div class="col">
            <select class="custom-select custom-select-sm w-auto" [(ngModel)]="nbByPage"
              [ngModelOptions]="{standalone: true}" (change)="changeNbByPage()">
              <option value="3">3</option>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="25">25</option>
            </select>
          </div>
          <div class="col">
            <ngb-pagination [(page)]="page" [rotate]="true" [boundaryLinks]="true" [pageSize]="nbByPage"
              [collectionSize]="countries.length" size="sm" (pageChange)="changePagination(page)"></ngb-pagination>
          </div>
        </div>

      </div>
    </form>
  </ng-container>
  <ng-template #loadingCountries>
    <div class="m-4 alert alert-warning" role="alert">
      Aucun item dans la liste ...
    </div>
  </ng-template>
</div>
